{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "ignores": [".config/*", ".dist/", ".resources/"],
  "rules": {
    "no-unused-vars": "warn",
    "no-undef": "warn",
    "prettier/prettier": "error",
  },
}
