.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.playboard {
  display: flex;
  justify-content: space-around;
}

.row {
  display: grid;
  gap: 10px;
}

.row > div {
  display: flex;
  margin: 20px;
}
